.facility-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #9921E8;
    margin-bottom: 12px;
}

.facility-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #0D0D0D;
    margin-bottom: 30px;
}

.section-title {
    font-size: 16px;
    font-weight: 700;
    color: #FFAD3B;
    margin-right: 20px;
}

.section-cmn {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;

}

.section-cmn img {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 75px;
    left: 80px;
}

.newImg {
    position: absolute;
    top: 20px;
    left: 23px;

}

.newImg img {
    height: 28px;
    width: 28px;
}

.eye-icon {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 75px;
    left: 75px;
    color: #FE5702;
}

.exams {
    background-color: rgba(255, 173, 59, 0.1);
}

.classes {
    background: rgba(45, 129, 247, 0.1);
}


.views {
    background-color: rgba(254, 87, 2, 0.1);
    ;
}


.lesson {
    background: rgba(235, 87, 87, 0.1);
}


.lessons {
    background: rgba(8, 189, 128, 0.1);
}